{% extends "base.html" %}
{% load static %}
{% block title %}
Biertjes
{% endblock %}
{% block content %}
<div id="main" class="product-list">
<h1>Biertjes</h1>
{% for product in products %}
<div class="item">
<a href="{{ product.get_absolute_url }}">
<img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}">
</a>
<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
<br>
{{ product.beercolor }}
<br>
Nog {{ product.quantity }}
</div>
{% endfor %}
</div>
{% endblock %}
